fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
pydantic
python-jose
passlib[bcrypt]
pandas
pydantic-settings
tensorflow
scikit-learn
matplotlib
numpy
seaborn
statsmodels
python-multipart
alembic
psycopg2